{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "usage",
        "corejs": "3",
        "shippedProposals": true,
        "targets": {
          "chrome": "67",
          "ie": "9"
        }
      }
    ]
  ],
  "plugins": ["@babel/plugin-syntax-dynamic-import"]
}
